modules = ["web", "nodejs-20", "python-3.12"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 41681385
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
