modules = ["web", "nodejs-20", "python-3.12"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node server.js"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Build and Start"

[[workflows.workflow]]
name = "Build and Start"
author = 41681385
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
