{{ $name := .Get "name" }}
{{ $number := .Get "number" }}
{{ $division := .Get "division" | default "450" }}
{{ $image := .Get "image" }}
{{ $team := .Get "team" }}
{{ $manufacturer := .Get "manufacturer" }}
{{ $nationality := .Get "nationality" }}
{{ $position := .Get "position" }}
{{ $points := .Get "points" }}
{{ $slug := .Get "slug" | default (urlize $name) }}

{{ $riderData := dict 
  "name" $name
  "number" $number
  "division" $division
  "image" $image
  "team" $team
  "manufacturer" $manufacturer
  "nationality" $nationality
  "slug" $slug
}}

{{ if or $position $points }}
  {{ $standings := dict "position" $position "points" $points }}
  {{ $riderData = merge $riderData (dict "standings" $standings) }}
{{ end }}

{{ if .Inner }}
  {{ $riderData = merge $riderData (dict "bio" .Inner) }}
{{ end }}

{{ partial "rider-card.html" $riderData }}