{{ $name := .Get "name" }}
{{ $type := .Get "type" | default "Supercross" }}
{{ $image := .Get "image" }}
{{ $location := .Get "location" }}
{{ $length := .Get "length" }}
{{ $surface := .Get "surface" }}
{{ $upcoming := .Get "upcoming" }}

{{ $trackData := dict 
  "name" $name
  "type" $type
  "image" $image
  "location" $location
  "length" $length
  "surface" $surface
  "upcoming" $upcoming
}}

{{ if .Inner }}
  {{ $trackData = merge $trackData (dict "description" .Inner) }}
{{ end }}

{{ partial "track-info.html" $trackData }}