{{ $title := .Get "title" | default "Next Race" }}
{{ $subtitle := .Get "subtitle" }}
{{ $date := .Get "date" }}
{{ $icon := .Get "icon" | default "flag-checkered" }}
{{ $countdown := .Get "countdown" }}
{{ $daysLeft := .Get "daysLeft" }}
{{ $total := .Get "total" }}
{{ $background := .Get "background" }}

{{ $countdownData := dict 
  "title" $title
  "subtitle" $subtitle
  "date" $date
  "icon" $icon
  "countdown" $countdown
  "daysLeft" $daysLeft
  "total" $total
  "background" $background
}}

{{ $buttons := slice }}
{{ if .Get "buttontext" }}
  {{ $button := dict "text" (.Get "buttontext") "url" (.Get "buttonurl") }}
  {{ if .Get "buttonicon" }}
    {{ $button = merge $button (dict "icon" (.Get "buttonicon")) }}
  {{ end }}
  {{ $buttons = $buttons | append $button }}
{{ end }}

{{ if .Get "button2text" }}
  {{ $button := dict "text" (.Get "button2text") "url" (.Get "button2url") }}
  {{ if .Get "button2icon" }}
    {{ $button = merge $button (dict "icon" (.Get "button2icon")) }}
  {{ end }}
  {{ $buttons = $buttons | append $button }}
{{ end }}

{{ if gt (len $buttons) 0 }}
  {{ $countdownData = merge $countdownData (dict "buttons" $buttons) }}
{{ end }}

{{ if .Inner }}
  {{ $countdownData = merge $countdownData (dict "description" .Inner) }}
{{ end }}

{{ partial "race-countdown.html" $countdownData }}