{{ $type := .Get "type" | default "all" }}
{{ $columns := .Get "columns" | default 2 }}

<div class="track-grid grid gap-6 grid-cols-1 md:grid-cols-{{ $columns }}">
  {{ if .Inner }}
    {{ .Inner }}
  {{ else }}
    {{ $tracks := where site.RegularPages "Section" "tracks" }}
    {{ if ne $type "all" }}
      {{ $tracks = where $tracks "Params.type" $type }}
    {{ end }}
    
    {{ range $tracks }}
      {{ $trackData := dict 
        "name" .Params.name
        "type" .Params.type
        "image" .Params.image
        "location" .Params.location
        "length" .Params.length
        "surface" .Params.surface
      }}
      
      {{ if .Params.upcoming }}
        {{ $trackData = merge $trackData (dict "upcoming" .Params.upcoming) }}
      {{ end }}
      
      {{ if .Params.description }}
        {{ $trackData = merge $trackData (dict "description" .Params.description) }}
      {{ end }}
      
      <div class="track-grid-item">
        {{ partial "track-info.html" $trackData }}
      </div>
    {{ end }}
  {{ end }}
</div>